[submodule "vendor/drogon"]
	path = vendor/drogon
	url = git@github.com:drogonframework/drogon.git
[submodule "vendor/jwt-cpp"]
	path = vendor/jwt-cpp
	url = git@github.com:Thalhammer/jwt-cpp.git
[submodule "vendor/ftxui"]
	path = vendor/ftxui
	url = git@github.com:ArthurSonzogni/FTXUI.git
[submodule "vendor/magic_enum"]
	path = vendor/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = git@github.com:skypjack/entt.git
